#number1 {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px black solid;
    text-align: center;
    top: 10px;
    line-height: 100px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

#number2 {
    display: inline-block;
    position: relative;
    left: 75px;
    height: 100px;
    width: 100px;
    border: 1px black solid;
    text-align: center;
    top: 10px;
    line-height: 100px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

/* #number3 {
    display: inline-block;
    position: relative;
    left: 150px;
    height: 100px;
    width: 100px;
    top: 30px;
    font-size: 40px;
} */

#buttonAnswer {
    display: inline-block;
    position: relative;
    left: 500px;
    bottom: 420px;
    width: 100px;
}

input {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    left: 350px;
    border: 1px black solid;
    bottom: 90px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

p {
    height: 50px;
    width: 50px;
}
