#number1 {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px black solid;
    text-align: center;
    bottom: 10px;
    line-height: 100px;
    font-size: 40px;
}

#number2 {
    display: inline-block;
    position: relative;
    left: 75px;
    height: 100px;
    width: 100px;
    border: 1px black solid;
    text-align: center;
    bottom: 10px;
    line-height: 100px;
    font-size: 40px;
}

#number3 {
    display: inline-block;
    position: relative;
    left: 150px;
    height: 100px;
    width: 100px;
    border: 1px black solid;
    top: 30px;
    font-size: 40px;
}

#buttonAnswer {
    display: inline-block;
    position: relative;
    left: 500px;
    bottom: 330px;
    width: 100px;


}
